<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>曲阜师范大学成绩提醒用户登录</title>
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">
            曲阜师范大学成绩提醒用户登录
        </h2>
        <form method="post">
            <div class="form-group">
                <label for="username">教务系统账号</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">教务系统密码</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="group_id">要通知的群号</label>
                <select class="form-control" id="group_id" name="group_id" required>
                    <option value="" disabled selected>请选择要通知的群号</option>
                    <option value="273882385" data-group-id="273882385">Easy-QFNU｜曲师大选课指北群|497554955
                    </option>
                    <option value="497554955" data-group-id="497554955">Easy-QFNU｜曲师大选课指北群2|497554955
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">提交</button>
        </form>
        <div id="success-message" class="alert alert-success mt-3" {% if success_message %}style="display: block;" {%
            endif %}>
            {{ success_message }}
        </div>
        <div id="error-message" class="alert alert-danger mt-3" {% if error_message %}style="display: block;" {% else
            %}style="display: none;" {% endif %}>
            {{ error_message }}
        </div>
        <div class="mt-3 text-center">
            <a href="https://qm.qq.com/q/oGQjhfsU2Q" target="_blank"
                class="btn btn-success">点击加入群聊【Easy-QFNU｜曲师大选课指北群】</a>
            <a href="https://qm.qq.com/q/wpcTyUZJlu" target="_blank"
                class="btn btn-success mt-2">点击加入群聊【Easy-QFNU｜曲师大选课指北群2】</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>